{
  "rules": {
    "strict" : 0,
    "indent": [2, 2],
    "quotes": [0, "single", "avoid-escape"],
    "no-console": 0
  },
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
